@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 51 65 85;
    --muted: 248 250 252;
    --border: 226 232 240;
  }
  
  .dark {
    --background: 15 23 42;
    --foreground: 248 250 252;
    --muted: 30 41 59;
    --border: 51 65 85;
  }
}
